<div class="container" style="width: 1200px;">
  <div class="row">
    <div class="col-lg-12">
      <!--header and navigation-->
      <h2>Hello, {{(user$ | async)?.Name}}</h2>
      <h3>Balance: {{userBalance$ | async}} ₽</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-9">
      <app-menu [date]="selectedDate"></app-menu>
    </div>

    <div class="col-lg-3">
      <app-calendar *ngIf="userCalendar" [userCalendar]="userCalendar" [(date)]="selectedDate"></app-calendar>
    </div>
  </div>
</div>
