<header></header>

<div class="container">
  <div class="text-uppercase navigation-bar">
    <div class="logo">
      <div class="logo-line1">Murano</div>
      <div class="logo-line2">menu</div>
    </div>

    <ul class="nav-menu">
      <li><a class="link-unstyled" href="#">Меню</a></li>
    </ul>
  </div>

  <div class="userdata col-md-12">
    <div class="col-md-offset-9 col-md-3">
      <div class="userbalance">
        1635 ₽
      </div>
      <div class="username">
        Dmitry Zamula
      </div>
    </div>
  </div>

  <div class="col-md-9 mainview">
    <button class="btn-murano">
      Показать мой заказ
    </button>

    <app-menu [date]="selectedDate"></app-menu>
  </div>

  <div class="col-md-3">
    <app-calendar [(date)]="selectedDate"></app-calendar>
  </div>
</div>
